# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
.venv/
*.egg-info/
.installed.cfg
*.egg
*__pycache__*

# Serverless directories
.serverless/
node_modules/

# IDE
.idea
.DS_Store

# Environment files
.env
*.log

db.sqlite3
docker-compose.override.yml
data/

.terraform/
*.tfstate
*.tfstate.backup
