# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
.venv/
*.egg-info/
.installed.cfg
*.egg
*__pycache__*

# Serverless directories
.serverless/
node_modules/

# IDE
.idea
.DS_Store
.vscode

# Environment files
.env
*.log

db.sqlite3
docker-compose.override.yml
data/

.terraform/
*.tfstate
*.tfstate.backup

.cache_ggshield

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.coverage
htmlcov/

# drawio
*.bkp
*.dtmp
