aws-xray-sdk==2.9.0
boto3==1.21.16
botocore==1.24.16
Django==4.0.4
django-environ==0.8.1
django-cors-headers==3.11.0
djangorestframework==3.13.1
pymysql==1.0.2
python-dateutil==2.8.2
google-auth==2.6.0
Werkzeug==2.0.3
libica==2.0.0
libumccr==0.1.0
gspread==5.2.0
gspread-pandas==3.0.4
sample-sheet==0.12.0
requests==2.27.1
pandas==1.4.1
cachetools==5.0.0
drf_yasg==1.20.0
