# All application depedencies are moved to setup.py > install_requires
# Still keep this file for `serverless-python-requirements` compatibiltiy with
# Lambda deployment purpose. See https://github.com/UnitedIncome/serverless-python-requirements
.
